@import "tailwindcss";

@theme {
  /* light theme */
  --font-sans:
    ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

  /* font-size */
  --text-mini: 12px;
  --text-tiny: var(--text-mini);
  --text-normal: 14px;
  --text-small: var(--text-normal);
  --text-medium: var(--text-normal);
  --text-large: 15px;
  --text-huge: 16px;

  /* font color */
  --color-text-base: #000;
  --color-text-1: rgb(31, 34, 37);
  --color-text-2: rgb(51, 54, 57);
  --color-text-3: rgb(118, 124, 130);
  --color-text-disabled: rgba(194, 194, 194, 1);
  --color-placeholder: rgba(194, 194, 194, 1);
  --color-placeholder-disabled: rgba(209, 209, 209, 1);
  --color-icon: rgba(194, 194, 194, 1);
  --color-icon-hover: rgba(146, 146, 146, 1);
  --color-icon-pressed: rgba(175, 175, 175, 1);
  --color-icon-disabled: rgba(209, 209, 209, 1);

  /* height */
  --height-mini: 16px;
  --height-tiny: 22px;
  --height-small: 28px;
  --height-medium: 34px;
  --height-large: 40px;
  --height-huge: 46px;

  /* colors */
  --color-base: #fff;
  --color-primary: #18a058;
  --color-primary-hover: #36ad6a;
  --color-primary-pressed: #0c7a43;
  --color-primary-suppl: #36ad6a;
  --color-info: #2080f0;
  --color-info-hover: #4098fc;
  --color-info-pressed: #1060c9;
  --color-info-suppl: #4098fc;
  --color-success: #18a058;
  --color-success-hover: #36ad6a;
  --color-success-pressed: #0c7a43;
  --color-success-suppl: #36ad6a;
  --color-warning: #f0a020;
  --color-warning-hover: #fcb040;
  --color-warning-pressed: #c97c10;
  --color-warning-suppl: #fcb040;
  --color-error: #d03050;
  --color-error-hover: #de576d;
  --color-error-pressed: #ab1f3f;
  --color-error-suppl: #de576d;
  --color-divider: rgb(239, 239, 245);
  --color-border: rgb(224, 224, 230);
  --color-close-icon: rgba(102, 102, 102, 1);
  --color-close-icon-hover: rgba(102, 102, 102, 1);
  --color-close-icon-pressed: rgba(102, 102, 102, 1);
  --color-close-hover: rgba(0, 0, 0, 0.09);
  --color-close-pressed: rgba(0, 0, 0, 0.13);
  --color-clear: rgba(194, 194, 194, 1);
  --color-clear-hover: rgba(146, 146, 146, 1);
  --color-clear-pressed: rgba(175, 175, 175, 1);
  --color-scrollbar: rgba(0, 0, 0, 0.25);
  --color-scrollbar-hover: rgba(0, 0, 0, 0.4);

  --color-progress-rail: rgba(235, 235, 235, 1);
  --color-rail: rgb(219, 219, 223);
  --color-popover: #fff;
  --color-table: #fff;
  --color-card: #fff;
  --color-modal: #fff;
  --color-body: #fff;
  --color-tag: #eee;
  --color-avatar: rgba(204, 204, 204, 1);
  --color-inverted: rgb(0, 20, 40);
  --color-input: rgba(255, 255, 255, 1);
  --color-code: rgb(244, 244, 248);
  --color-tab: rgb(247, 247, 250);
  --color-action: rgb(250, 250, 252);
  --color-table-header: rgb(250, 250, 252);
  --color-hover: rgb(243, 243, 245);
  --color-table-hover: rgba(0, 0, 100, 0.03);
  --color-table-striped: rgba(0, 0, 100, 0.02);
  --color-pressed: rgb(237, 237, 239);
  --n-button2: rgba(46, 51, 56, 0.05);
  --n-button2-hover: rgba(46, 51, 56, 0.09);
  --n-button2-pressed: rgba(46, 51, 56, 0.13);

  /* 透明度 */
  --opacity-1: 0.82;
  --opacity-2: 0.72;
  --opacity-3: 0.38;
  --opacity-4: 0.24;
  --opacity-5: 0.18;
  --opacity-disabled: 0.5;
  --input-color-disabled: rgb(250, 250, 252);

  /* shadow-3 */
  --shadow-1: 0 1px 2px -2px rgba(0, 0, 0, 0.08), 0 3px 6px 0 rgba(0, 0, 0, 0.06), 0 5px 12px 4px rgba(0, 0, 0, 0.04);
  --shadow-2: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
  --shadow-3:
    0 6px 16px -9px rgba(0, 0, 0, 0.08), 0 9px 28px 0 rgba(0, 0, 0, 0.05), 0 12px 48px 16px rgba(0, 0, 0, 0.03);
}
